html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

.main-wrapper {
  min-height: 100vh;
}

footer {
  min-height: 200px;
}

.wrapper {
  min-height: calc(100vh - 200px);
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.f-size {
  font-size: 32px;
}

.f-size2 {
  font-size: 16px;
}

.f-size3 {
  font-size: 18px;
}

.text1 {
  color: #ffffff;
}

.text2 {
  color: #7d7d7d;
}

.text3 {
  color: #333333;
}

.bg1 {
  background: #ec1a1b;
}

.bg2 {
  background: #000000;
}

.bg3 {
  background: #f5f6fa;
}

.bg4 {
  background: #252724;
}

.bg5 {
  background: #ebedf4;
}

.bg6 {
  background: #f6f7fa;
}

.btn-clr1 {
  background-color: #ec1a1b;
}

.font1 {
  font-family: "Open Sans", sans-serif;
}

.font2 {
  font-family: "Poppins", sans-serif;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.l-hight {
  line-height: 20.8px;
}

.l-hight2 {
  line-height: 1.25;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Custom css strat */
.container-fluid.main-topbar {
  padding: 0px;
  margin: 0px;
}

.container-fluid.bottom-navbar {
  padding: 0px;
  margin: 0px;
}

.main-topbar a.navbar-brand.text-white.font1.fw-400 {
  font-size: 40px;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 10px 30px;
}

.top-bar-right i.fa-solid.fa-cart-shopping {
  font-size: 20px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffff;
}

.main-wrapper.bg5 {
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0)
  );
}

.search-btn-op span {
  padding: 0px 5px;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 74px;
  text-indent: 5px;
  border: none;
}

.search input.form-control {
  border-radius: 8px;
  box-shadow: #3333 0 5px 16px;
}

.search button {
  position: absolute;
  top: 13px;
  right: 15px;
  height: 48px;
  width: 125px;
  background: #ec1a1b;
}

img.hero-image {
  width: 100%;
}

.card-box h2.card-title.text3 {
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
}

.card-box a.card-link {
  color: #0982ae;
}

.card-box h2:hover.card-title.text3 {
  text-decoration: underline;
}

.card-box .card {
  padding: 30px 0px;
  transform: translateY(12px);
  transition: 0.5s;
  border: none;
}

.card-box .card:hover {
  transform: translateY(0px);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
  background-color: #ffff;
  box-shadow: 0 0 30px rgba(29, 29, 29, 0.1);
}

.card-box .top-image {
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffff;
  height: 64px;
  margin: 0 auto;
  position: absolute;
  top: -2%;
  left: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 64px;
}

::selection {
  background: #ec1a1b;
  color: #fff;
}

.container .topic {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content .list {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 50px;
  position: relative;
}
.content .list label {
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #333;
  z-index: 12;
  margin: 10px;
  border-radius: 5px;
}
#step1:checked ~ .list label.home,
#step2:checked ~ .list label.blog,
#step3:checked ~ .list label.help,
#step4:checked ~ .list label.code,
#step5:checked ~ .list label.about {
  color: #fff;
}

.content .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  /* background: #ec1a1b; */
  transition: all 0.4s ease;
}
#step1:checked ~ .list .slider {
  top: 0;
}
#step2:checked ~ .list .slider {
  top: 60px;
}
#step3:checked ~ .list .slider {
  top: 120px;
}
#step4:checked ~ .list .slider {
  top: 180px;
}
#step5:checked ~ .list .slider {
  top: 240px;
}
.content .text-content {
  width: 100%;
  height: 100%;
}
.content .text {
  display: none;
}
.content .text .title {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 600;
  padding: 10px 0px;
}
.content .text p {
  text-align: justify;
}
.content .text-content .step1 {
  display: block;
}
#step1:checked ~ .text-content .step1,
#step2:checked ~ .text-content .step2,
#step3:checked ~ .text-content .step3,
#step4:checked ~ .text-content .step4,
#step5:checked ~ .text-content .step5 {
  display: block;
}
#step2:checked ~ .text-content .step1,
#step3:checked ~ .text-content .step1,
#step4:checked ~ .text-content .step1,
#step5:checked ~ .text-content .step1 {
  display: none;
}
.content input {
  display: none;
}

/* Custom css end */

/* responssive css start */

/* `xxl` extra-large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {
}

/* `xl` extra-large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}

/* `lg` large devices (tablets, less than 992px) */
@media (max-width: 992px) {
}

/* `md` medium  devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
}

/* `sm` small devices (portrait phones, less than 576px) */
@media (max-width: 578px) {
  button.navbar-toggler.collapsed {
    padding: 0px;
  }
}

/* `xs` extra-small devices (phones, less than 320px) */
@media (max-width: 320px) {
}

/* responssive css end */
