:root {
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

.main-wrapper {
  min-height: 100vh;
}

footer {
  min-height: 200px;
}

.wrapper {
  min-height: calc(100vh - 200px);
}

.max-w{
  max-width: 1408px !important;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  border: none;
  box-shadow: none;
}

.f-size {
  font-size: 32px;
}

.f-size2 {
  font-size: 16px;
}

.f-size3 {
  font-size: 18px;
}

.f-size4{
  font-size: 13px;
}
.text1 {
  color: #ffffff;
}

.text2 {
  color: #7d7d7d;
}

.text3 {
  color: #333333;
}

.text4{
  color: #ec1a1b;
}
.bg1 {
  background: #ec1a1b;
}

.bg2 {
  background: #000000;
}

.bg3 {
  background: #f5f6fa;
}

.bg4 {
  background: #252724;
}

.bg5 {
  background: #ebedf4;
}

.bg6 {
  background: #f6f7fa;
}

.bg7 {
  background: #333;
}

.btn-clr1 {
  background-color: #ec1a1b;
}

.font1 {
  font-family: "JobClarendon", var(--font-fallback);
}

.font2 {
  font-family: "Poppins", sans-serif;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.l-hight {
  line-height: 20.8px;
}

.l-hight2 {
  line-height: 1.25;
}

.bo-radius{
  border-radius: 8px;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Custom css strat */
.container-fluid.main-topbar {
  padding: 0px;
  margin: 0px;
}

.container-fluid.bottom-navbar {
  padding: 0px;
  margin: 0px;
}

.main-topbar a.navbar-brand.text-white.font1.fw-400 {
  font-size: 40px;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 10px 15px;
}

.top-bar-right i.fa-solid.fa-cart-shopping {
  font-size: 13px;
}

span.top-bar-right.d-flex {
  background: #d1000085;
  padding: px px;
  padding: 13px 17px;
  margin: 0px 9px;
  border-radius: 5px;
}

.fa-solid.fa-user:before{
  padding: 10px;
  border-radius: 5px;
  background: #d1000085;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffff;
}

li.nav-item.pe-4 {
  padding-right: 32px !important;
}

.bottom-navbar .nav-link.active {
  color: #ffff !important;
}

.bottom-navbar .nav-link {
  color: #ffff !important;
  opacity: .4;
}

.bottom-navbar .nav-link:hover{
  opacity: 1;
  cursor: pointer;
}

span.fa.fa-bars {
  display: none;
}

.main-wrapper.bg5 {
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 100%, 0)
  );
}

.col-lg-6.col-md-6.col-sm-12.hero-left.pe-lg-5.pe-md-4.pe-sm-0 {
  padding-right: 60px!important;
}

.col-lg-6.col-md-6.col-sm-12.hero-right.ps-md-5.pe-sm-0 {
  padding-left: 100px !important;
}

.search-btn-op span {
  padding: 0px 5px;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 74px;
  text-indent: 5px;
  border: none;
}

.search-btn-op button.btn.text1.font2 {
  outline: none;
  border: none;
  box-shadow: none;
}

.search input.form-control {
  border-radius: 8px;
  box-shadow: #3333 0 5px 16px;
}

.search input::placeholder{
  color: #ccc;
}

.search button {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 43px;
  width: 115px;
  background: #ec1a1b;
}

img.hero-image {
  width: 100%;
}

.card-box h2.card-title.text3 {
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
}

.card-box a.card-link {
  color: #0982ae;
}

.card-box h2:hover.card-title.text3 {
  text-decoration: underline;
}

.card-box .card {
  padding: 30px 0px;
  transform: translateY(12px);
  transition: 0.5s;
  border: none;
}

.card-box .card:hover {
  transform: translateY(0px);
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
  background-color: #ffff;
  box-shadow: 0 0 30px rgba(29, 29, 29, 0.1);
}

.card-box .top-image {
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffff;
  height: 64px;
  margin: 0 auto;
  position: absolute;
  top: -2%;
  left: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 64px;
}

.card-link {
  text-decoration: none;
  position: relative;
  color: #000; /* Set your desired link color */
  transform: translateY(10);
  transition: 0.5s;
}

.card-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Set the underline height as per your design */
  background-color: #007bff; /* Set your desired underline color */
  bottom: -3px;
  left: 0;
  transform: translateY(0)
}

::selection {
  background: #ec1a1b;
  color: #fff;
}

.container .topic {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content .list {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 50px;
  position: relative;
}
.content .list label {
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  transition: all 0.5s ease;
  color: #333;
  z-index: 12;
  margin: 10px;
  border-radius: 5px;
}

.content .text p {
  text-align: justify;
  min-height: 326px;
}

#step1:checked ~ .list label.home,
#step2:checked ~ .list label.blog,
#step3:checked ~ .list label.help,
#step4:checked ~ .list label.code,
#step5:checked ~ .list label.about {
  color: #fff;
}

.content .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  border-radius: 12px;
  /* background: #ec1a1b; */
  transition: all 0.4s ease;
}
#step1:checked ~ .list .slider {
  top: 0;
}
#step2:checked ~ .list .slider {
  top: 60px;
}
#step3:checked ~ .list .slider {
  top: 120px;
}
#step4:checked ~ .list .slider {
  top: 180px;
}
#step5:checked ~ .list .slider {
  top: 240px;
}
.content .text-content {
  width: 100%;
  height: 100%;
}
.content .text {
  display: none;
}
.content .text .title {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 600;
  padding: 10px 0px;
}
.content .text p {
  text-align: justify;
}
.content .text-content .step1 {
  display: block;
}
#step1:checked ~ .text-content .step1,
#step2:checked ~ .text-content .step2,
#step3:checked ~ .text-content .step3,
#step4:checked ~ .text-content .step4,
#step5:checked ~ .text-content .step5 {
  display: block;
}
#step2:checked ~ .text-content .step1,
#step3:checked ~ .text-content .step1,
#step4:checked ~ .text-content .step1,
#step5:checked ~ .text-content .step1 {
  display: none;
}
.content input {
  display: none;
}

/*navbar-modal*/

.mobile-navbar-modal .modal-dialog {
  margin: 0;
  width: 280px;
}

.mobile-navbar-modal .modal-content{
  border-radius: 0;
  height: 100vh;
  overflow-y: scroll;
  background-color: #252724;
}

.mobile-navbar-modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 16px;
  width: 90%;
}

.mobile-navbar-modal .modal-header {
  border-bottom: none !important;
}

.mobile-navbar-modal .modal-header .btn-closer{
  opacity: 1;
  background: transparent;
}

.mobile-navbar-modal .modal-header i {
  color: #ffffff;
  font-size: 20px;
}

.mobile-navbar-modal .modal-body {
  width: 100%;
  margin: 0 auto;
  flex: unset;
  padding: 10px 15px !important;
  background: #3e3c3c;
  min-height: 100vh;
}

.mobile-navbar-modal .modal-body .modal-line {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 7px 0;
  cursor: pointer;
  transition: all .5e ease;
}

.mobile-navbar-modal .btn-close {
  width: auto;
  height: auto;
  background: none;
  opacity: 1;
}

.mobile-navbar-modal .modal-body .modal-line a {
  margin-left: 0px;
}

.mobile-navbar-modal .modal-body .modal-line:hover{
  color: #7d7d7d;
  border-bottom: 1px solid #ffff;
}

.mobile-navbar-modal .modal-line a {
  font-size: 16px;
  font-weight: 500px;
  letter-spacing: 1px;
  color: #ffffff;
}

.mobile-navbar-modal .modal-line i {
  color: #7d7d7d;
  font-size: 25px;
  width: 39px;
  margin-right: 15px;
  padding: 0 0 3px 3px;
}

.mobile-navbar-modal .modal-line a:hover,
.mobile-navbar-modal .modal-line i:hover{
  color: #ffff;
  font-weight: 600px;
}

.mobile-navbar-modal .navb-button{
  width: 100%;
  height: 47px;
  background-color: #ec1a1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700px;
  color: #252724;
  transition: all .5e ease;
}

.mobile-navbar-modal .navb-button:hover{
  background-color: #252724;
  column-rule: #ec1a1b;
}

.mobile-navbar-modal .modal-header button.btn-close {
  font-size: 12px;
  border-radius: 50%;
}

.mobile-navbar-modal .modal-header button:hover.btn-close {
  background-color: #a10707;
  cursor: pointer;
}

.mobile-toggler a:hover {
  color: #ffff;
}

.search button:hover {
  color: #ffff;
}

.mobile-navbar-modal .modal-line:hover a,
.mobile-navbar-modal .modal-line:hover i {
  color: #ffff;
  cursor: pointer;
}

.mobile-navbar-modal .modal-header {
  padding: 0.5rem 0;
}

.search.mobile-search {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.search.mobile-search input {
  text-indent: 5px;
  font-family: sans-serif;
  font-size: 14px;
  width: 90%;
}

.search.mobile-search .fa-search {
  position: absolute;
  top: 25px;
  left: 88%;
  font-size: 14px;
  color: #999;
}

.mobile-search input {
  padding: 5px;
  margin: 15px 0px;
  height: 30px;
  outline: none;
  border-radius: 9px;
}

a:hover.text-white.pe-lg-4.d-lg-block, a:hover.sign-in-btn.text-white.d-none.d-lg-block.fw-400.f-size4.l-hight.font1, a:hover.signin-icon.d-block.d-lg-none {
  opacity: 1 !important;
  color: #ffff;
}

.modal-content {
  width: 65%;
}

.hero-section {
  padding-top: 45px !important;
}

.row.hero-widget {
  padding: 0px 26px;
}

.hero-left {
  padding-right: 45px !important;
}
/* Custom css end */

/* responssive css start */

/* `xxl` extra-large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {
}

/* `xl` extra-large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}

/* `lg` large devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .main-topbar .container {
    padding: 0px 12px;
}

.hero-section .left-text-box h1.fw-700.l-hight2.f-size {
  font-size: 30px !important;
}

.search button {
  font-size: 15px !important;
  height: 43px;
  width: 115px !important;
}

.card-box .card {
  margin-top: 90px;
}
.mobile-navbar-modal .modal-dialog {
  width: 448px;
}

.main-topbar a.navbar-brand.text-white.font1.fw-400 {
  font-size: 30px;
}

.mobile-toggler.d-lg-none {
  font-size: 23px;
}

.top-bar-right i.fa-solid.fa-cart-shopping {
  font-size: 16px;
}

.col-lg-6.col-md-6.col-sm-12.hero-left.pe-lg-5.pe-md-4.pe-sm-0 {
  padding-right: 40px!important;
}

.col-lg-6.col-md-6.col-sm-12.hero-right.ps-md-5.pe-sm-0 {
  padding-left: 40px !important;
}

span.top-bar-right.d-flex {
  background: none;
}

i.fa-solid.fa-cart-shopping.px-sm-2.px-md-4.px-lg-1 {
  padding: 0px 5px !important;
}

.top-bar-right i.fa-solid.fa-cart-shopping, i.fa-solid.fa-user {
  font-size: 13px;
}

span.top-bar-right.d-flex {
  padding: none;
}

i.fa-solid.fa-bars {
  font-size: 16px;
  padding: 10px;
  background: #d1000085;
  border-radius: 5px;
}

span.top-bar-right.d-flex {
  padding: 0;
}

.fa-cart-shopping:before, .fa-shopping-cart:before {
  content: "\f07a";
  padding: 10px;
  border-radius: 5px;
  background: #d1000085;
}

.hero-section .left-text-box h1.fw-700.l-hight2.f-size {
  font-size: 20px !important;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
}

.left-text-box.mb-5.mb-md-5.text-md-center {
  margin-bottom: 30px !important;
}

.hero-right {
  padding-left: 0px !important;
}

.right-text-box {
  text-align: center;
}

img.hero-image {
  width: 100%;
  max-width: 100%;
  margin-top: 35px;
}

.left-text-box p {
  text-align: center;
}

.hero-left {
  padding-right: 0px !important;
}

.hero-section {
  padding: 15px 26px !important;
}

.left-text-box.mb-5 {
  margin-bottom: 32px !important;
}
}

/* `md` medium  devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .main-topbar .container {
    padding: 0px 12px;
}

.search button {
  font-size: 15px !important;
  height: 43px;
  width: 115px !important;
}

.hero-section .left-text-box h1.fw-700.l-hight2.f-size {
  font-size: 30px !important;
}

.card-box .card {
  margin-top: 90px
px
;
}

.mobile-navbar-modal .modal-dialog {
  width: 448px;
}

.main-topbar a.navbar-brand.text-white.font1.fw-400 {
  font-size: 30px;
}

.mobile-toggler.d-lg-none {
  font-size: 23px;
}

.top-bar-right i.fa-solid.fa-cart-shopping {
  font-size: 16px;
}

.col-lg-6.col-md-6.col-sm-12.hero-left.pe-lg-5.pe-md-4.pe-sm-0 {
  padding-right: 40px!important;
}

.col-lg-6.col-md-6.col-sm-12.hero-right.ps-md-5.pe-sm-0 {
  padding-left: 40px !important;
}

span.top-bar-right.d-flex {
  background: none;
}

i.fa-solid.fa-cart-shopping.px-sm-2.px-md-4.px-lg-1 {
  padding: 0px 5px !important;
}

.top-bar-right i.fa-solid.fa-cart-shopping, i.fa-solid.fa-user {
  font-size: 13px;
}

span.top-bar-right.d-flex {
  padding: none;
}

.fa-cart-shopping:before, .fa-shopping-cart:before {
  content: "\f07a";
  padding: 10px;
  border-radius: 5px;
  background: #d1000085;
}

.hero-section .left-text-box h1.fw-700.l-hight2.f-size {
  font-size: 20px !important;
  font-weight: 700;
  text-align: center;
  line-height: 1.25;
}

.left-text-box.mb-5.mb-md-5.text-md-center {
  margin-bottom: 30px !important;
}

.hero-right {
  padding-left: 0px !important;
}

.right-text-box {
  text-align: center;
}

img.hero-image {
  width: 100%;
  max-width: 100%;
  margin-top: 35px;
}

.left-text-box p {
  text-align: center;
}

.hero-left {
  padding-right: 0px !important;
}

.hero-section {
  padding: 15px 26px !important;
}

.left-text-box.mb-5 {
  margin-bottom: 32px !important;
}
}

/* `sm` small devices (portrait phones, less than 576px) */
@media (max-width: 578px) {
  /* .top-bar-right button.navbar-toggler.collapsed {
    padding: 0px;
  } */

  .hero-section .left-text-box h1.fw-700.l-hight2.f-size {
    font-size: 25px !important;
}

.search button {
  font-size: 15px !important;
  height: 43px;
  width: 115px !important;
}

.card-box .card {
  margin-top: 70px;
}

.container.step-box {
  margin-top: 50px;
}

.step-box .content {
  display: inline-block;
}

.step-box .content .list {
  width: 100%;
}

.step-box .content .text-content {
  margin-top: 50px;
}

.main-topbar a.text-white.px-lg-3.d-md-none.d-sm-none.d-lg-block {
  padding: 0px 20px;
}

.main-topbar .top-bar-right a.text-white.px-lg-3.d-lg-block {
  padding: 0px 20px 0 0;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  padding: 10px 15px;
}

.navbar-brand {
  margin-right: 0rem;
}

.main-topbar .container {
  padding: 0px 15px;
}

.mobile-navbar-modal .modal-dialog {
  width: 100%;
}

.main-topbar a.navbar-brand.text-white.font1.fw-400 {
  font-size: 25px;
}

.top-bar-right i.fa-solid.fa-cart-shopping {
  font-size: 15px;
}

/* .container-fluid.navbar-light.bottom-navbar.bg4 {
  display: none;
} */

.col-lg-6.col-md-6.col-sm-12.hero-left.pe-lg-5.pe-md-4.pe-sm-0 {
  padding-right: 0px!important;
}

.col-lg-6.col-md-6.col-sm-12.hero-right.ps-md-5.pe-sm-0 {
  padding: 10px !important;
}

.container.hero-section.mt-5.max-w {
  padding: 0 15px;
  margin-top: 30px !important;
  margin-bottom: 60px;
}

.col-md-12.search-box {
  padding-left: 0px;
  padding-right: 0px;
}

.hero-section .search-box .search {
  margin: 12px 0px;
}

.content .list {
  width: 100%;
  margin-right: 0 !important;
}

span.top-bar-right.d-flex {
  background: none;
}

i.fa-solid.fa-cart-shopping.px-sm-2.px-md-4.px-lg-1 {
  padding: 0px 5px !important;
}

.top-bar-right i.fa-solid.fa-cart-shopping {
  font-size: 13px;
}

span.top-bar-right.d-flex {
  padding: none;
}

.fa-cart-shopping:before, .fa-shopping-cart:before {
  content: "\f07a";
  padding: 10px;
  border-radius: 5px;
  background: #d1000085;
}


.search.mobile-search .fa-search {
  left: 86%;
}

.hero-section .left-text-box h1.fw-700.l-hight2.f-size {
  font-size: 20px !important;
  font-weight: 700;
  text-align: left;
  line-height: 1.25;
}

.hero-left {
  padding: 0 24px;
}

.left-text-box p {
  text-align: left;
}

.left-text-box{
  margin-bottom: 25px !important;
}

.hero-right {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

img.hero-image {
  max-width: 260px;
  margin-top: 0px;
}

.left-text-box.mb-5 {
  margin-bottom: 20px !important;
}

}

/* `xs` extra-small devices (phones, less than 320px) */
@media (max-width: 367px) {
  span.top-bar-right.d-flex {
    background: none;
  }

  i.fa-solid.fa-cart-shopping.px-sm-2.px-md-4.px-lg-1 {
    padding: 0px 5px !important;
}
.top-bar-right i.fa-solid.fa-cart-shopping, i.fa-solid.fa-user {
  font-size: 13px;
}

span.top-bar-right.d-flex {
  padding: none;
}
.fa-cart-shopping:before, .fa-shopping-cart:before {
  content: "\f07a";
  padding: 10px;
  border-radius: 5px;
  background: #d1000085;
}

.mobile-search input {
  width: 218px;
}

.search.mobile-search .fa-search {
  left: 84%;
}

.hero-section .left-text-box h1.fw-700.l-hight2.f-size {
  font-size: 20px !important;
  font-weight: 700;
  text-align: left;
  line-height: 1.25;
}

.mobile-search input {
  width: 208px;
}


}


@media (max-width: 320px) {
  .mobile-search input {
    width: 185px;
}

.search.mobile-search .fa-search {
  left: 84%;
}
}
/* responssive css end */
