

@media (max-width: 576px){
    .sticky_bg.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
        position: inherit !important;
        width: 100%;
        top: 0px;
    }
        
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider .dl_container .banner_slider_content a.theme_btn_two {
        padding: 8px 20px 8px 20px;
    }
        
    .sticky_bg.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
        position: relative;
    }
        
    .blog_breadcrumbs_area_two .overlay_bg, .blog_breadcrumbs_area_two.archive-banner .overlay_bg, .blog_breadcrumbs_area_two.banner-404 .overlay_bg, .blog_breadcrumbs_area_two.blog-single-page .overlay_bg, .blog_breadcrumbs_area_two.page-banner .overlay_bg {
        position: relative !important;
    }
    
    section.elementor-section.elementor-top-section.elementor-element.elementor-element-08fcf6b.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
        padding: 65px 15px !important;
    }
        
    .footer-new  .elementor-section .elementor-container {
        display: inline-block;
    }
        
    .footer-new .elementor-13574 .elementor-element.elementor-element-0ff827a {
        width: 100%;
    }
        
    .footer-new .footer-new .elementor-section .elementor-container {
        display: block;
    }
    
    .footer-first .elementor-13574 .elementor-element.elementor-element-291c171 {
        width: 100%;
        padding-top: 25px;
    }
    
    
    .footer-new .elementor-13574 .elementor-element.elementor-element-291c171 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    
    
    .footer-new .elementor-13574 .elementor-element.elementor-element-8a42743 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
        
    .elementor-column.elementor-col-25.elementor-inner-column.elementor-element.elementor-element-0ff827a.footer-first {
        width: 100% !important;
        /* padding-top: 25px; */
    }
        
    .elementor-column.elementor-col-25.elementor-inner-column.elementor-element.elementor-element-bda1c13.\.footer-sec {
        width: 100%;
        padding-top: 25px;
    }
        
    .elementor-column.elementor-col-25.elementor-inner-column.elementor-element.elementor-element-291c171.footer-third {
        width: 100%;
        padding-top: 25px;
    }
        
    .elementor-column.elementor-col-25.elementor-inner-column.elementor-element.elementor-element-8a42743.footer-fourth {
        width: 100%;
        padding-top: 25px;
    }
        
    .footer-third .elementor-widget-wrap.elementor-element-populated {
        padding-left: 0px !important;
    }
        
    .footer-fourth .elementor-widget-wrap.elementor-element-populated {
        padding-left: 0px !important;
    }
        
    .elementor-13574 .elementor-element.elementor-element-f51f674 {
        width: inherit !important;
        max-width: initial;
    }
        
    .elementor-13574 .elementor-element.elementor-element-3b483d5 {
        width: 100% !important;
    }
        
    .elementor-13574 .elementor-element.elementor-element-1c9891a {
        width: 100% !important;
        padding-top: 25px;
    }
        
    .banner_slider_content {
        padding: 20px 0px 70px 0px;
    }
        
    .elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
        display: block;
    }
        
    .elementor-181 .elementor-element.elementor-element-4450566 .dl_woolist_item .dl_woolist_item_content .dl_title h2 {
        line-height: 30px !important;
        text-align: center;
    }
        
    .elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
        display: inline-flex;
    }
        
    .woocommerce-checkout .elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap {
        display: block;
    }
        
    .woocommerce-checkout .elementor-13574 .elementor-element.elementor-element-0a5247a .dl_pro_subscribe_form .dl_cu_btn {
        padding: 15px 52px 15px 52px;
    }
        
    /* .slider_item.slider_bg_color {
        background-size: cover !important;
        height: 790px;
    } */
        
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_row {
        margin: 0px 0px 40px 0px;
    }
    
    
        
    }
    
    @media (max-width: 768px)
    
    .elementor-11742 .elementor-element.elementor-element-0318af7 {
        width: 100%;
    }
    
    
    .elementor-181 .elementor-element.elementor-element-b956655 .ub-btn:not(.three_d_btn) {
        padding: 15px 20px 15px 20px;
    }
    
    .elementor-181 .elementor-element.elementor-element-5e9f11d .dl_pro_blog_grid_widget .dl_single_info_box_content {
        min-height: 340px;
    }
    
    .elementor-181 .elementor-element.elementor-element-4450566 .dl_pro_woolist_wrapper .dl_woolist_item_content {
        padding: 13px 12px 13px 12px;
    }
    
    .blog_breadcrumbs_area_two .overlay_bg, .blog_breadcrumbs_area_two.archive-banner .overlay_bg, .blog_breadcrumbs_area_two.banner-404 .overlay_bg, .blog_breadcrumbs_area_two.blog-single-page .overlay_bg, .blog_breadcrumbs_area_two.page-banner .overlay_bg {
        position: relative !important;
    }
    
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider .dl_container .banner_slider_content a.theme_btn {
        padding: 10px 15px 10px 15px;
    }
    
    section.elementor-section.elementor-top-section.elementor-element.elementor-element-08fcf6b.footer-new.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
        padding: 60px 35px;
    }
    
    .elementor-181 .elementor-element.elementor-element-5e9f11d .dl__blog--grid-wrapper .dl__blog--grid-inner .dl_single_blog_img img {
        object-fit: cover;
    }
    
    .elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-1bb3ae6 {
        padding-right: 20px;
    }
    
    div#customer_details {
        width: 100%;
    }
    
    .woocommerce-checkout .col-sm-6 {
        width: 100%;
    }
    
    .elementor-18047 .elementor-element.elementor-element-60ce657:not(.elementor-motion-effects-element-type-background), .elementor-18047 .elementor-element.elementor-element-60ce657 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        padding: 12px;
    }
    
    section.elementor-section.elementor-top-section.elementor-element.elementor-element-08fcf6b.footer-new.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
        padding: 60px 15px;
    }
    
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_row {
        margin: 0px 0px 40px 0px;
    }
    
    .slider_item.slider_bg_color {
        background-size: cover !important;
        height: 790px;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 300px !important;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 300px !important;
    }
    
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 60vh;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 15px !important;
    }
    }
    
    
    
    @media (max-width: 900px)
    .elementor-11742 .elementor-element.elementor-element-0318af7 {
        width: 100%;
    }
    
    .elementor-181 .elementor-element.elementor-element-b956655 .ub-btn:not(.three_d_btn) {
        padding: 15px 20px 15px 20px;
    }
    
    .elementor-181 .elementor-element.elementor-element-5e9f11d .dl_pro_blog_grid_widget .dl_single_info_box_content {
        min-height: 340px;
    }
    
    .elementor-181 .elementor-element.elementor-element-4450566 .dl_pro_woolist_wrapper .dl_woolist_item_content {
        padding: 13px 12px 13px 12px;
    }
    
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider .dl_container .banner_slider_content a.theme_btn {
        padding: 10px 15px 10px 15px;
    }
    
    .blog_breadcrumbs_area_two .overlay_bg, .blog_breadcrumbs_area_two.archive-banner .overlay_bg, .blog_breadcrumbs_area_two.banner-404 .overlay_bg, .blog_breadcrumbs_area_two.blog-single-page .overlay_bg, .blog_breadcrumbs_area_two.page-banner .overlay_bg {
        position: relative !important;
    }
    
    .elementor-181 .elementor-element.elementor-element-b956655 .ub-btn:not(.three_d_btn) {
        padding: 15px 10px 15px 10px;
    }
    
    section.elementor-section.elementor-top-section.elementor-element.elementor-element-08fcf6b.footer-new.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
        padding: 60px 35px;
    }
    
    .elementor-181 .elementor-element.elementor-element-5e9f11d .dl__blog--grid-wrapper .dl__blog--grid-inner .dl_single_blog_img img {
        object-fit: cover;
    }
    
    .elementor-column.elementor-col-33.elementor-top-column.elementor-element.elementor-element-1bb3ae6 {
        padding-right: 20px;
    }
    
    .elementor-13574 .elementor-element.elementor-element-bda1c13 > .elementor-element-populated {
        padding: 0px 0px 0px 0px !important;
    }
    
    .elementor-18047 .elementor-element.elementor-element-60ce657:not(.elementor-motion-effects-element-type-background), .elementor-18047 .elementor-element.elementor-element-60ce657 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        padding: 12px;
    }
    
    section.elementor-section.elementor-top-section.elementor-element.elementor-element-08fcf6b.footer-new.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
        padding: 60px 15px;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 300px !important;
    }
    
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 60vh;
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 45px !important;
    }
    
    .elementor-181 .elementor-element.elementor-element-b956655 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    
    }
    
    
    @media (max-width: 1200px){
    .drdt_site_logo {
        padding-left: 20px;
        }
        
        .banner_slider_content {
        padding-top: 350px;
        }
        
        .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 60vh;
    }
        
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 45px !important;
    }
    }
    
    .dl_woolist_item .dl_woolist_item_content .dl_title h2,
    .product_featured_content h3 {
      line-height: 25px !important;
      text-align: center;
    }
    
    .elementor-181 .elementor-element.elementor-element-716cc1a .dl_pro_woolist_wrapper.dl_woo_top .dl_woolist_item_thumb {
        margin-bottom: 26px;
        padding-bottom: 50px;
    }
    
    .elementor-181 .elementor-element.elementor-element-7122e3f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-top: 25px;
    }
    
    .elementor-181 .elementor-element.elementor-element-93de0f4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-top: 25px;
    }
    
    .elementor-181 .elementor-element.elementor-element-716cc1a .dl_woolist_item .dl_woolist_item_content .dl_title h2 {
        min-height: 45px;
    }
    
    .elementor-181 .elementor-element.elementor-element-4450566 .dl_woolist_item .dl_woolist_item_content .dl_title h2 {
        min-height: 50px;
    }
    
    .elementor-181 .elementor-element.elementor-element-32551e1:not(.elementor-motion-effects-element-type-background), .elementor-181 .elementor-element.elementor-element-32551e1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
        min-height: 320px;
    }
    
    .elementor-181 .elementor-element.elementor-element-7c4a1dc .dl-product-cat-grid-wrapper {
        grid-template-columns: repeat( 4, 1fr );
        grid-column-gap: 12px;
        text-align: center !important;
        margin: 0 auto;
    }
    
    .elementor-181 .elementor-element.elementor-element-7c4a1dc .dl-product-cat-grid-title a {
        font-family: "Poppins", Sans-serif;
        color: #ffff;
    }
    
    .woocommerce-shop .dl_woolist_item .dl_woolist_item_content .dl_title h2, .product_featured_content h3 {
        min-height: 65px;
    }
    
    .woocommerce-checkout-payment {
        margin: 0 0px;
    }
    
    .woocommerce-checkout-review-order {
        border: 1px solid #ddd;
        padding: 0;
    }
    
    .woocommerce-checkout .container {
        max-width: 1427px;
    }
    
    .woocommerce-checkout .elementor-widget-wrap.elementor-element-populated {
        padding: 0px !important;
    }
    
    footer.entry-footer {
        display: none;
    }
    
    .elementor-11742 .elementor-element.elementor-element-a335872 {
        margin-top: 0px;
    }
    
    .elementor-12158 .elementor-element.elementor-element-2984655 {
        margin-top: 0px;
    }
    
    .elementor-181 .elementor-element.elementor-element-b956655 > .elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    
    .elementor-181 .elementor-element.elementor-element-b956655 .ub-btn:not(.three_d_btn) {
        padding: 15px 32px 15px 32px;
    }
    
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 100vh;
    }
    
    .slider_item.slider_bg_color {
        width: 1343px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover !important;
        background-size: cover !important;
        /* height: 800px; */
    }
    
    .elementor-181 .elementor-element.elementor-element-7c4a1dc .dl-product-cat-grid-title a {
        color: #2B2D53;
    }
    
    .elementor-181 .elementor-element.elementor-element-5e9f11d .dl_pro_blog_grid_widget .dl_single_info_box_content {
        min-height: 250px;
    }
    
    @media (max-width: 1100px){
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 100px !important;
    }
        
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 79vh;
    }
    }
    
    @media (max-width: 1300px){
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 58vh;
    }
        
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 75vh;
    }
    }
    
    @media (max-width: 900px){
        .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 65vh;
    }
        
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 65vh;
    }
        
    .elementor-181 .elementor-element.elementor-element-b956655 .ub-btn:not(.three_d_btn) {
        padding: 15px 10px 15px 10px;
    }
        
    .elementor-181 .elementor-element.elementor-element-5e9f11d .dl_pro_blog_grid_widget .dl_single_info_box_content {
        min-height: 340px;
    }
        
    .elementor-element.elementor-element-bb9fd64.elementor-widget.elementor-widget-text-editor {
        display: none;
    }
    }
    
    @media (max-width: 768px){
        .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 40px !important;
    }
    }
    
    @media (max-width: 600px){
        .slider_item.slider_bg_color {
        background-size: cover !important;
        height: 471px;
    }
    }
    
    @media (max-width: 500px){
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 150px !important;
    }
        
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 30px !important;
    }
        
    .elementor-181 .elementor-element.elementor-element-e1f0f27 .dl_banner_slider {
        height: 52vh;
    }
    }
    
    @media (max-width: 400px){
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 30px !important;
    }
    }


    
    